*.iml
.gradle
/soso/local.properties
/soso/.idea/caches
/soso/.idea/libraries
/soso/.idea/modules.xml
/soso/.idea/workspace.xml
/soso/.idea/navEditor.xml
/soso/.idea/assetWizardSettings.xml
.DS_Store
/soso/build
/soso/captures
.externalNativeBuild
.cxx
